<div class="app-component">
  <header>
    <app-search-bar (searchQuery)="onSearchQueryChanged($event)"></app-search-bar>
  </header>
  <div class="divider"></div>
  <section *ngIf="accountManagerInfo">
    <h5>Report for: {{accountManagerInfo.fullName}}</h5>
    <div *ngFor="let itemList of accountManagerInfo.conditionSummaryMap | keyvalue">
      <h5 class="condition-header">Condition: {{itemList.key}}</h5>
      <app-items-table [itemsList]="itemList.value"></app-items-table>
    </div>
  </section>
</div>
